body {
    margin: 20px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #77ffd6;
    color: #2b2839;
    border-bottom: 6px solid #9782ec;
}

.details {
        font-family: "Roboto Mono", system-ui;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
}

.contact{
    font-size: 10px;
}
.border-blue {
    border: 1px dotted black;
}
